* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.clearfix::after,
.clearfix::before {
    content: " ";
    margin: " ";
    display: table;
    clear: both;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #fdfdfd;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: none;
}

/*定义滚动条轨道 内阴影+圆角*/
body::-webkit-scrollbar-thumb {
    background-color: #379cf4;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}
.hd {
    width: 100%;
    padding: 0 100px;
    height: 77px;
    box-sizing: border-box;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    z-index: 10;
}
.hd_top{
	position: fixed;
	top: -77px;
	transition: .4s;
	background: #379cf4;
}
.logo {
    width: 280px;
    height: 46px;
    padding: 10px;
    float: left;
}

.logo img {
    width: 190px;
    height: 50px;
}

.nav {
    width: 850px;
    float: left;
    overflow: hidden;
}

.nav ul {
    float: right;
    position: relative;
    left: 400px;
    width: 800px;
}

.nav ul li {
    margin-right: 60px;
    float: left;
    line-height: 77px;
}

.nav ul li a {
    color: #fff;
    font: 600 15px/23px 微软雅黑, Helvetica, Arial, Verdana, sans-serif;
}

.nav ul li a:hover {
    opacity: .7;
}

.nav_us {
    float: left;
    padding: 30px 60px;
}

.banner {
    padding: 140px 160px 0 160px;
    box-sizing: border-box;
    background: url('https://ccdn.goodq.top/caches/b18d463ab761d9369e21aaf6ec1c2764/aHR0cHM6Ly81ZDBjNzNmODdkMzc4LnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDYvNzdiZjlhODA2NWZhYjQ0ZDFhMDUxOTRkYTlhNjU3ODguanBn.jpg') no-repeat;
}

.ban_lf,
.ban_rt {
    width: 590px;
    float: left;
}

.ban_lf h3 {
    font-family: 微軟正黑體;
    font-size: 70px;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
}

.ban_lf_btm {
    padding-top: 168px;
    height: 94px;
}

.ban_lf_btm span {
    font-size: 13px;
    color: rgb(255, 255, 255);
    line-height: 30px;
    display: block;
}

.ban_btn {
    height: 35px;
    font-size: 16px;
    padding-top: 35px;
    color: #fff;
}

.ban_btn span {
    height: 4px;
    width: 18px;
    border-radius: 4px;
    background: #379cf4;
    display: inline-block;
    margin: 0 14px;
    vertical-align: middle;
}

.ban_rt h5 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 30px;
}

.ban_rt p {
    font-size: 26px;
    font-family: Oswald;
    color: #ffffff;
    margin-bottom: 35px;
}

.ban_lunbo {
    width: 510px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

.swiper-slide {
    width: 250px;
    margin-right: 10px;
    height: 208px;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    /*left: -30px;*/
    width: 18px;
    height: 34px;
    background-size: 100% 100%;
    top: 60%;
}

.ban_two {
    height: 480px;
    background: url('https://ccdn.goodq.top/caches/b18d463ab761d9369e21aaf6ec1c2764/aHR0cHM6Ly81ZDBjNzNmODdkMzc4LnQ3My5xaWZlaXllLmNvbS9xZnktY29udGVudC91cGxvYWRzLzIwMTkvMDYvOWVmNGI2ZWIxMDQ0NTIyY2ZkNDQ5NGE3YzgwNmMyYjQuanBn.jpg') no-repeat;
    background-size: 100% 100%;
}

.foot {
    background: #13304a;
}

.fot_top {
    width: 100%;
    /*height: 161px;*/
    box-sizing: border-box;
    padding: 90px 0 70px 139px;
}

.fot_text {
    float: left;
    width: 33.333333%;
    padding-right: 44px;
    box-sizing: border-box;
}

.fot_text h4 {
    width: 345px;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    text-align: center;
    margin-bottom: 40px;
}

.fot_text p {
    line-height: 28px;
    text-align: center;
    font-size: 13px;
    color: rgb(204, 218, 225);
    width: 338px;
}

.fot_text p span {
    display: block;
    text-align: left;
}

.fot_text p span i {
    display: inline-block;
    height: 1px;
    width: 14px;
    background: rgb(55, 156, 244);
    vertical-align: middle;
    margin-left: 100px;
    margin-right: 16px;
}

.fot_btm {
    height: 55px;
    width: 100%;
    line-height: 55px;
    border-top: 1px solid rgba(66, 89, 110, 1);
    text-indent: 139px;
    font-size: 13px;
    color: rgb(204, 218, 225);
}

.ban_til {
    margin-top: 80px;
    text-align: center;
}

.ban_til h3 {
    font-family: Oswald;
    font-size: 44px;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    margin-bottom: 30px;
}

.ban_til p {
    font-family: 微软雅黑;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
}

.ban_til p span {
    padding: 0 20px;
    display: inline-block;
}

.ban_til p i {
    display: inline-block;
    width: 304px;
    height: 2px;
    vertical-align: middle;
    background: #379cf4;
}

.go {
    width: 1240px;
    padding-top: 100px;
    margin: 0 auto;
}

.go ul li {
    width: 360px;
    padding: 25px;
    float: left;
}

.go ul li:hover .go_img img {
    transform: scale(1.2);
}

.go_img {
    height: 228px;
    overflow: hidden;
}

.go_img img {
    width: 100%;
    height: 100%;
    transition: .5s;
}

.go_text {
    box-shadow: 0 0 4px 2px #eee;
    padding: 25px 20px 20px 20px;
}

.go_text h5 {
    color: #13304a;
    font-size: 20px;
    font-family: 微软雅黑;
    line-height: 26px
}

.go_text p {
    color: #596e80;
    font-size: 12px;
    font-family: 微软雅黑;
    line-height: 26px;
}

.go_text p span {
    color: #379cf4;
    font-size: 14px;
    font-family: verdana;
    display: inline-block;
    padding-right: 20px;
}

/*地图*/
.iw_poi_title {
    color: #CC5522;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    padding-right: 13px;
    white-space: nowrap
}

.iw_poi_content {
    font: 12px arial, sans-serif;
    overflow: visible;
    padding-top: 4px;
    white-space: -moz-pre-wrap;
    word-wrap: break-word
}

#dituContent {
    width: 1190px;
    height: 400px;
    box-shadow: 0 0 4px 2px #eee;
    margin: 80px auto;
}

.content {
    width: 1330px;
    height: 490px;
    margin: 0 auto;
    padding: 80px 40px;
}

.cont {
    width: 890px;
    overflow: hidden;
    float: left;
    margin-right: 40px;
}

.cont_text {
    float: left;
    width: 342px;
}

.cont .swiper-slide {
    width: 408px;
    height: 490px;
    /*padding: 20px;*/
}

.cont_type {
    margin-top: 354px;
    height: 40px;
    position: relative;
    float: right;
    /*margin-right: 100px;*/
}

.cont_type .swiper-button-prev {
    position: absolute;
    left: -360px;
}

.cont_type .swiper-button-next {
    position: absolute;
    left: -300px;
}

.cont .go_text {
    box-shadow: none;
}

.cont_text {
    padding-top: 18px;
    box-sizing: border-box;
}

.cont_text h5 {
    font-family: Oswald;
    font-size: 36px;
    font-weight: bold;
    font-style: normal;
    line-height: 30px;
    color: #13304a;
    margin-bottom: 18px;

}

.cont_text p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    color: #596e80;
    vertical-align: bottom;
    margin-bottom: 28px;
}

.cont_text p i {
    display: inline-block;
    width: 16px;
    height: 4px;
    background: #379cf4;
    border-radius: 4px;
    vertical-align: middle;
    margin: 0 12px;
}

.cont_text p span {
    line-height: 30px;
    font-size: 13px;
    color: rgb(19, 48, 74);
}

.and_cont {
    width: 1280px;
    margin: 80px auto;
}

.and_text {
    width: 360px;
    float: left;
    margin-right: 35px;
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: 微软雅黑;
    color: rgb(89, 110, 128);
}

.and_rt {
    width: 360px;
    height: 184px;
    overflow: hidden;
}

.and_rt .swiper-slide {
    width: 360px;
    height: 184px;
    margin-right: 0;
}

.and_rt img {
    width: 360px;
}